@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Open Sans", "sans-serif";
}

::-webkit-scrollbar {
  width: 6px; 
  height: 6px; 
}
::-webkit-scrollbar-track {
  background: #221E56; 
  border-radius: 10px; 
}
::-webkit-scrollbar-thumb {
  background: #3C21B5; 
  border-radius: 10px; 
}



body {
  @apply bg-bgPrimary;
}
span {
  @apply font-agdasima bg-gradientSecondary bg-clip-text text-transparent;
}
@layer components {
  .btn {
    @apply px-10 py-2 my-0 font-bold tracking-widest uppercase border-2 border-black font-alata hover:bg-black hover:text-white;
  }
}